footer.site-footer {
    position: relative;

    &::before {
        content: "";
        background: var(--background-image);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: calc(100% + 29.3rem);
        width: 100%;
        bottom: 0;
        left: 0;
        position: absolute;
        z-index: -1;

        @media screen and (max-width: 1024px) {
            background: var(--background-image-mobile);
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: 150%;
        }

        @media screen and (max-width: 475px) {
            background: var(--background-image-mobile);
            background-position: 50% 110%;
            background-repeat: no-repeat;
            background-size: 150%;
        }
    }

    .footer-menu {
        .menu-item {
            a {
                font-size: 1.4rem;
                font-weight: 600;
                color: $beige;
                text-transform: uppercase;
                transition: color 0.3s ease;

                &:hover {
                    color: #fff;
                }
            }

            &:not(:last-of-type) {
                margin-bottom: 2rem;
            }
        }
    }
}